*{
margin: 0%;
padding: 0%;
}
html,body{
height: 100%;
width: 100%;
}
#main{
height: 100%;
width: 100%;


}
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50,-50);
    height: 300px;
width: 300px;
border: 1px solid rgb(40, 31, 31);
border-radius: 20px;

}
#card1{
    
   background-color: salmon;
    z-index: 4;
    
}


#card2{
    z-index: 3;
    rotate:-8deg;
    background-color:rgb(112, 213, 58);
}
#card2:hover{
    z-index: 20;}
#card3{
    z-index: 2;
       rotate:-16deg;
    background-color:rgb(198, 250, 114);
}
#card3:hover{
    z-index: 20;}
#card4{
    z-index: 1;
    rotate:-24deg; 
    background-color:rgb(95, 249, 213);  
}
#card4:hover{
    z-index: 20;}
img{
    height: 100%;
width: 100%;
object-fit: cover;
}